<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>287481209317-sl0oc41jei9nmq7i1ia6us8p7lfc5l77.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.287481209317-sl0oc41jei9nmq7i1ia6us8p7lfc5l77</string>
	<key>API_KEY</key>
	<string>AIzaSyAQdiEpgExM30nBQ_86dPcj_0meSndeGis</string>
	<key>GCM_SENDER_ID</key>
	<string>287481209317</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.yellowtoast.mydailycd</string>
	<key>PROJECT_ID</key>
	<string>my-daily-cds</string>
	<key>STORAGE_BUCKET</key>
	<string>my-daily-cds.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:287481209317:ios:9a86e1a1e9a2bc19dc4f0c</string>
</dict>
</plist>